/*
 * This code was generated by
 *  ___ ___   _   ___ _  _    _____ _   _    _  ___   ___      _   ___ ___      ___   _   ___     ___ ___ _  _ ___ ___    _ _____ ___  ___ 
 * | _ \ __| /_\ / __| || |__|_   _/_\ | |  | |/ | \ / / |    /_\ | _ ) __|___ / _ \ /_\ |_ _|__ / __| __| \| | __| _ \  /_\_   _/ _ \| _ \
 * |   / _| / _ \ (__| __ |___|| |/ _ \| |__| ' < \ V /| |__ / _ \| _ \__ \___| (_) / _ \ | |___| (_ | _|| .` | _||   / / _ \| || (_) |   /
 * |_|_\___/_/ \_\___|_||_|    |_/_/ \_\____|_|\_\ |_| |____/_/ \_\___/___/    \___/_/ \_\___|   \___|___|_|\_|___|_|_\/_/ \_\_| \___/|_|_\
 * 
 * Reach Messaging API
 * Reach SMS API helps you add robust messaging capabilities to your applications.  Using this REST API, you can * send SMS messages * track the delivery of sent messages * schedule SMS messages to send at a later time * retrieve and modify message history
 *
 * NOTE: This class is auto generated by OpenAPI Generator.
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.talkylabs.reach.rest.api.messaging;

import com.talkylabs.reach.base.Sender;
import com.talkylabs.reach.converter.Promoter;
import com.talkylabs.reach.exception.ApiConnectionException;
import com.talkylabs.reach.exception.ApiException;
import com.talkylabs.reach.exception.RestException;
import com.talkylabs.reach.http.HttpMethod;
import com.talkylabs.reach.http.Request;
import com.talkylabs.reach.http.Response;
import com.talkylabs.reach.http.ReachRestClient;
import com.talkylabs.reach.rest.Domains;
import java.math.BigDecimal;
import java.time.ZonedDateTime;
import java.math.BigDecimal;
import java.net.URI;



import java.net.URI;

public class MessagingItemSender extends Sender<MessagingItem>{
    private String dest;
    private String src;
    private String body;
    private String bulkIdentifier;
    private ZonedDateTime scheduledTime;
    private URI statusCallback;
    private BigDecimal maxPrice;
    private Integer validityPeriod;

    public MessagingItemSender(final String dest, final String src, final String body) {
        this.dest = dest;
        this.src = src;
        this.body = body;
    }

    public MessagingItemSender setDest(final String dest){
        this.dest = dest;
        return this;
    }
    public MessagingItemSender setSrc(final String src){
        this.src = src;
        return this;
    }
    public MessagingItemSender setBody(final String body){
        this.body = body;
        return this;
    }
    public MessagingItemSender setBulkIdentifier(final String bulkIdentifier){
        this.bulkIdentifier = bulkIdentifier;
        return this;
    }
    public MessagingItemSender setScheduledTime(final ZonedDateTime scheduledTime){
        this.scheduledTime = scheduledTime;
        return this;
    }
    public MessagingItemSender setStatusCallback(final URI statusCallback){
        this.statusCallback = statusCallback;
        return this;
    }

    public MessagingItemSender setStatusCallback(final String statusCallback){
        return setStatusCallback(Promoter.uriFromString(statusCallback));
    }
    public MessagingItemSender setMaxPrice(final BigDecimal maxPrice){
        this.maxPrice = maxPrice;
        return this;
    }
    public MessagingItemSender setValidityPeriod(final Integer validityPeriod){
        this.validityPeriod = validityPeriod;
        return this;
    }

    @Override
    public MessagingItem send(final ReachRestClient client){
        String path = "/rest/messaging/v1/create";

        path = path.replace("{"+"dest"+"}", this.dest.toString());
        path = path.replace("{"+"src"+"}", this.src.toString());
        path = path.replace("{"+"body"+"}", this.body.toString());

        Request request = new Request(
            HttpMethod.POST,
            Domains.API.toString(),
            path
        );
        addPostParams(request);
        Response response = client.request(request);
        if (response == null) {
            throw new ApiConnectionException("MessagingItem send operation failed: Unable to connect to server");
        } else if (!ReachRestClient.SUCCESS.test(response.getStatusCode())) {
            RestException restException = RestException.fromJson(response.getStream(), client.getObjectMapper());
            if (restException == null) {
                throw new ApiException("Server Error, no content");
            }
            throw new ApiException(restException);
        }

        return MessagingItem.fromJson(response.getStream(), client.getObjectMapper());
    }
    private void addPostParams(final Request request) {
        if (dest != null) {
            request.addPostParam("dest", dest);
    
        }
        if (src != null) {
            request.addPostParam("src", src);
    
        }
        if (body != null) {
            request.addPostParam("body", body);
    
        }
        if (bulkIdentifier != null) {
            request.addPostParam("bulkIdentifier", bulkIdentifier);
    
        }
        if (scheduledTime != null) {
            request.addPostParam("scheduledTime", scheduledTime.toInstant().toString());

        }
        if (statusCallback != null) {
            request.addPostParam("statusCallback", statusCallback.toString());
    
        }
        if (maxPrice != null) {
            request.addPostParam("maxPrice", maxPrice.toString());
    
        }
        if (validityPeriod != null) {
            request.addPostParam("validityPeriod", validityPeriod.toString());
    
        }
    }
}
