/*
 * This code was generated by
 *  ___ ___   _   ___ _  _    _____ _   _    _  ___   ___      _   ___ ___      ___   _   ___     ___ ___ _  _ ___ ___    _ _____ ___  ___ 
 * | _ \ __| /_\ / __| || |__|_   _/_\ | |  | |/ | \ / / |    /_\ | _ ) __|___ / _ \ /_\ |_ _|__ / __| __| \| | __| _ \  /_\_   _/ _ \| _ \
 * |   / _| / _ \ (__| __ |___|| |/ _ \| |__| ' < \ V /| |__ / _ \| _ \__ \___| (_) / _ \ | |___| (_ | _|| .` | _||   / / _ \| || (_) |   /
 * |_|_\___/_/ \_\___|_||_|    |_/_/ \_\____|_|\_\ |_| |____/_/ \_\___/___/    \___/_/ \_\___|   \___|___|_|\_|___|_|_\/_/ \_\_| \___/|_|_\
 * 
 * Reach Messaging API
 * Reach SMS API helps you add robust messaging capabilities to your applications.  Using this REST API, you can * send SMS messages * track the delivery of sent messages * schedule SMS messages to send at a later time * retrieve and modify message history
 *
 * NOTE: This class is auto generated by OpenAPI Generator.
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.talkylabs.reach.rest.api.messaging;

import com.talkylabs.reach.base.Updater;
import com.talkylabs.reach.exception.ApiConnectionException;
import com.talkylabs.reach.exception.ApiException;
import com.talkylabs.reach.exception.RestException;
import com.talkylabs.reach.http.HttpMethod;
import com.talkylabs.reach.http.Request;
import com.talkylabs.reach.http.Response;
import com.talkylabs.reach.http.ReachRestClient;
import com.talkylabs.reach.rest.Domains;




public class MessagingItemUpdater extends Updater<MessagingItem>{
    private String messageId;
    private String body;

    public MessagingItemUpdater(final String messageId, final String body){
        this.messageId = messageId;
        this.body = body;
    }

    public MessagingItemUpdater setMessageId(final String messageId){
        this.messageId = messageId;
        return this;
    }
    public MessagingItemUpdater setBody(final String body){
        this.body = body;
        return this;
    }

    @Override
    public MessagingItem update(final ReachRestClient client){
        String path = "/rest/messaging/v1/update";

        path = path.replace("{"+"messageId"+"}", this.messageId.toString());
        path = path.replace("{"+"body"+"}", this.body.toString());

        Request request = new Request(
            HttpMethod.POST,
            Domains.API.toString(),
            path
        );
        addPostParams(request);
        Response response = client.request(request);
        if (response == null) {
            throw new ApiConnectionException("MessagingItem update failed: Unable to connect to server");
        } else if (!ReachRestClient.SUCCESS.test(response.getStatusCode())) {
            RestException restException = RestException.fromJson(response.getStream(), client.getObjectMapper());
            if (restException == null) {
                throw new ApiException("Server Error, no content");
            }
            throw new ApiException(restException);
        }

        return MessagingItem.fromJson(response.getStream(), client.getObjectMapper());
    }
    private void addPostParams(final Request request) {
        if (messageId != null) {
            request.addPostParam("messageId", messageId);
    
        }
        if (body != null) {
            request.addPostParam("body", body);
    
        }
    }
}
