/*
 * This code was generated by
 *  ___ ___   _   ___ _  _    _____ _   _    _  ___   ___      _   ___ ___      ___   _   ___     ___ ___ _  _ ___ ___    _ _____ ___  ___ 
 * | _ \ __| /_\ / __| || |__|_   _/_\ | |  | |/ | \ / / |    /_\ | _ ) __|___ / _ \ /_\ |_ _|__ / __| __| \| | __| _ \  /_\_   _/ _ \| _ \
 * |   / _| / _ \ (__| __ |___|| |/ _ \| |__| ' < \ V /| |__ / _ \| _ \__ \___| (_) / _ \ | |___| (_ | _|| .` | _||   / / _ \| || (_) |   /
 * |_|_\___/_/ \_\___|_||_|    |_/_/ \_\____|_|\_\ |_| |____/_/ \_\___/___/    \___/_/ \_\___|   \___|___|_|\_|___|_|_\/_/ \_\_| \___/|_|_\
 * 
 * Reach Authentix API
 *  Reach Authentix API helps you easily integrate user authentification in your application. The authentification allows to verify that a user is indeed at the origin of a request from your application.  At the moment, the Reach Authentix API supports the following channels:    * SMS      * Email   We are continuously working to add additionnal channels. ## Base URL All endpoints described in this documentation are relative to the following base URL: ``` https://api.reach.talkylabs.com/rest/authentix/v1/ ```  The API is provided over HTTPS protocol to ensure data privacy.  ## API Authentication Requests made to the API must be authenticated. You need to provide the `ApiUser` and `ApiKey` associated with your applet. This information could be found in the settings of the applet. ```curl curl -X GET [BASE_URL]/configurations -H \"ApiUser:[Your_Api_User]\" -H \"ApiKey:[Your_Api_Key]\" ``` ## Reach Authentix API Workflow Three steps are needed in order to authenticate a given user using the Reach Authentix API. ### Step 1: Create an Authentix configuration A configuration is a set of settings used to define and send an authentication code to a user. This includes, for example: ```   - the length of the authentication code,    - the message template,    - and so on... ``` A configuaration could be created via the web application or directly using the Reach Authentix API. This step does not need to be performed every time one wants to use the Reach Authentix API. Indeed, once created, a configuartion could be used to authenticate several users in the future.    ### Step 2: Send an authentication code A configuration is used to send an authentication code via a selected channel to a user. For now, the supported channels are `sms`, and `email`. We are working hard to support additional channels. Newly created authentications will have a status of `awaiting`. ### Step 3: Verify the authentication code This step allows to verify that the code submitted by the user matched the one sent previously. If, there is a match, then the status of the authentication changes from `awaiting` to `passed`. Otherwise, the status remains `awaiting` until either it is verified or it expires. In the latter case, the status becomes `expired`. 
 *
 * NOTE: This class is auto generated by OpenAPI Generator.
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.talkylabs.reach.rest.api.authentix;

import com.talkylabs.reach.base.Fetcher;
import com.talkylabs.reach.exception.ApiConnectionException;
import com.talkylabs.reach.exception.ApiException;
import com.talkylabs.reach.exception.RestException;
import com.talkylabs.reach.http.HttpMethod;
import com.talkylabs.reach.http.Request;
import com.talkylabs.reach.http.Response;
import com.talkylabs.reach.http.ReachRestClient;
import com.talkylabs.reach.rest.Domains;

import java.time.ZonedDateTime;



public class AuthenticationTrialStatItemFetcher extends Fetcher<AuthenticationTrialStatItem> {
    private String dest;
    private AuthenticationTrialStatItem.TrialStatus trialStatus;
    private AuthenticationTrialStatItem.Channel channel;
    private String configurationId;
    private String authenticationId;
    private String country;
    private ZonedDateTime sentAt;
    private ZonedDateTime sentAfter;
    private ZonedDateTime sentBefore;

    public AuthenticationTrialStatItemFetcher(){
    }

    public AuthenticationTrialStatItemFetcher setDest(final String dest){
        this.dest = dest;
        return this;
    }
    public AuthenticationTrialStatItemFetcher setTrialStatus(final AuthenticationTrialStatItem.TrialStatus trialStatus){
        this.trialStatus = trialStatus;
        return this;
    }
    public AuthenticationTrialStatItemFetcher setChannel(final AuthenticationTrialStatItem.Channel channel){
        this.channel = channel;
        return this;
    }
    public AuthenticationTrialStatItemFetcher setConfigurationId(final String configurationId){
        this.configurationId = configurationId;
        return this;
    }
    public AuthenticationTrialStatItemFetcher setAuthenticationId(final String authenticationId){
        this.authenticationId = authenticationId;
        return this;
    }
    public AuthenticationTrialStatItemFetcher setCountry(final String country){
        this.country = country;
        return this;
    }
    public AuthenticationTrialStatItemFetcher setSentAt(final ZonedDateTime sentAt){
        this.sentAt = sentAt;
        return this;
    }
    public AuthenticationTrialStatItemFetcher setSentAfter(final ZonedDateTime sentAfter){
        this.sentAfter = sentAfter;
        return this;
    }
    public AuthenticationTrialStatItemFetcher setSentBefore(final ZonedDateTime sentBefore){
        this.sentBefore = sentBefore;
        return this;
    }

    @Override
    public AuthenticationTrialStatItem fetch(final ReachRestClient client) {
        String path = "/rest/authentix/v1/authenticationTrialStats";


        Request request = new Request(
            HttpMethod.GET,
            Domains.API.toString(),
            path
        );
        addQueryParams(request);
        Response response = client.request(request);

        if (response == null) {
        throw new ApiConnectionException("AuthenticationTrialStatItem fetch failed: Unable to connect to server");
        } else if (!ReachRestClient.SUCCESS.test(response.getStatusCode())) {
            RestException restException = RestException.fromJson(response.getStream(), client.getObjectMapper());
            if (restException == null) {
                throw new ApiException("Server Error, no content");
            }
            throw new ApiException(restException);
        }

        return AuthenticationTrialStatItem.fromJson(response.getStream(), client.getObjectMapper());
    }
    private void addQueryParams(final Request request) {
        if (dest != null) {
    
            request.addQueryParam("dest", dest);
        }
        if (trialStatus != null) {
    
            request.addQueryParam("trialStatus", trialStatus.toString());
        }
        if (channel != null) {
    
            request.addQueryParam("channel", channel.toString());
        }
        if (configurationId != null) {
    
            request.addQueryParam("configurationId", configurationId);
        }
        if (authenticationId != null) {
    
            request.addQueryParam("authenticationId", authenticationId);
        }
        if (country != null) {
    
            request.addQueryParam("country", country);
        }
        if (sentAt != null) {
            request.addQueryParam("sentAt", sentAt.toInstant().toString());
        }

        if (sentAfter != null) {
            request.addQueryParam("sentAfter", sentAfter.toInstant().toString());
        }

        if (sentBefore != null) {
            request.addQueryParam("sentBefore", sentBefore.toInstant().toString());
        }

    }
}
