/*
 * This code was generated by
 *  ___ ___   _   ___ _  _    _____ _   _    _  ___   ___      _   ___ ___      ___   _   ___     ___ ___ _  _ ___ ___    _ _____ ___  ___ 
 * | _ \ __| /_\ / __| || |__|_   _/_\ | |  | |/ | \ / / |    /_\ | _ ) __|___ / _ \ /_\ |_ _|__ / __| __| \| | __| _ \  /_\_   _/ _ \| _ \
 * |   / _| / _ \ (__| __ |___|| |/ _ \| |__| ' < \ V /| |__ / _ \| _ \__ \___| (_) / _ \ | |___| (_ | _|| .` | _||   / / _ \| || (_) |   /
 * |_|_\___/_/ \_\___|_||_|    |_/_/ \_\____|_|\_\ |_| |____/_/ \_\___/___/    \___/_/ \_\___|   \___|___|_|\_|___|_|_\/_/ \_\_| \___/|_|_\
 * 
 * Reach Authentix API
 *  Reach Authentix API helps you easily integrate user authentification in your application. The authentification allows to verify that a user is indeed at the origin of a request from your application.  At the moment, the Reach Authentix API supports the following channels:    * SMS      * Email   We are continuously working to add additionnal channels. ## Base URL All endpoints described in this documentation are relative to the following base URL: ``` https://api.reach.talkylabs.com/rest/authentix/v1/ ```  The API is provided over HTTPS protocol to ensure data privacy.  ## API Authentication Requests made to the API must be authenticated. You need to provide the `ApiUser` and `ApiKey` associated with your applet. This information could be found in the settings of the applet. ```curl curl -X GET [BASE_URL]/configurations -H \"ApiUser:[Your_Api_User]\" -H \"ApiKey:[Your_Api_Key]\" ``` ## Reach Authentix API Workflow Three steps are needed in order to authenticate a given user using the Reach Authentix API. ### Step 1: Create an Authentix configuration A configuration is a set of settings used to define and send an authentication code to a user. This includes, for example: ```   - the length of the authentication code,    - the message template,    - and so on... ``` A configuaration could be created via the web application or directly using the Reach Authentix API. This step does not need to be performed every time one wants to use the Reach Authentix API. Indeed, once created, a configuartion could be used to authenticate several users in the future.    ### Step 2: Send an authentication code A configuration is used to send an authentication code via a selected channel to a user. For now, the supported channels are `sms`, and `email`. We are working hard to support additional channels. Newly created authentications will have a status of `awaiting`. ### Step 3: Verify the authentication code This step allows to verify that the code submitted by the user matched the one sent previously. If, there is a match, then the status of the authentication changes from `awaiting` to `passed`. Otherwise, the status remains `awaiting` until either it is verified or it expires. In the latter case, the status becomes `expired`. 
 *
 * NOTE: This class is auto generated by OpenAPI Generator.
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.talkylabs.reach.rest.api.authentix;

import com.talkylabs.reach.base.Creator;
import com.talkylabs.reach.exception.ApiConnectionException;
import com.talkylabs.reach.exception.ApiException;
import com.talkylabs.reach.exception.RestException;
import com.talkylabs.reach.http.HttpMethod;
import com.talkylabs.reach.http.Request;
import com.talkylabs.reach.http.Response;
import com.talkylabs.reach.http.ReachRestClient;
import com.talkylabs.reach.rest.Domains;




public class ConfigurationItemCreator extends Creator<ConfigurationItem>{
    private String serviceName;
    private Integer codeLength;
    private Boolean allowCustomCode;
    private Boolean usedForDigitalPayment;
    private Integer defaultExpiryTime;
    private Integer defaultMaxTrials;
    private Integer defaultMaxControls;
    private String smtpSettingId;
    private String emailTemplateId;
    private String smsTemplateId;

    public ConfigurationItemCreator(final String serviceName) {
        this.serviceName = serviceName;
    }

    public ConfigurationItemCreator setServiceName(final String serviceName){
        this.serviceName = serviceName;
        return this;
    }
    public ConfigurationItemCreator setCodeLength(final Integer codeLength){
        this.codeLength = codeLength;
        return this;
    }
    public ConfigurationItemCreator setAllowCustomCode(final Boolean allowCustomCode){
        this.allowCustomCode = allowCustomCode;
        return this;
    }
    public ConfigurationItemCreator setUsedForDigitalPayment(final Boolean usedForDigitalPayment){
        this.usedForDigitalPayment = usedForDigitalPayment;
        return this;
    }
    public ConfigurationItemCreator setDefaultExpiryTime(final Integer defaultExpiryTime){
        this.defaultExpiryTime = defaultExpiryTime;
        return this;
    }
    public ConfigurationItemCreator setDefaultMaxTrials(final Integer defaultMaxTrials){
        this.defaultMaxTrials = defaultMaxTrials;
        return this;
    }
    public ConfigurationItemCreator setDefaultMaxControls(final Integer defaultMaxControls){
        this.defaultMaxControls = defaultMaxControls;
        return this;
    }
    public ConfigurationItemCreator setSmtpSettingId(final String smtpSettingId){
        this.smtpSettingId = smtpSettingId;
        return this;
    }
    public ConfigurationItemCreator setEmailTemplateId(final String emailTemplateId){
        this.emailTemplateId = emailTemplateId;
        return this;
    }
    public ConfigurationItemCreator setSmsTemplateId(final String smsTemplateId){
        this.smsTemplateId = smsTemplateId;
        return this;
    }

    @Override
    public ConfigurationItem create(final ReachRestClient client){
        String path = "/rest/authentix/v1/configurations";

        path = path.replace("{"+"serviceName"+"}", this.serviceName.toString());

        Request request = new Request(
            HttpMethod.POST,
            Domains.API.toString(),
            path
        );
        addPostParams(request);
        Response response = client.request(request);
        if (response == null) {
            throw new ApiConnectionException("ConfigurationItem creation failed: Unable to connect to server");
        } else if (!ReachRestClient.SUCCESS.test(response.getStatusCode())) {
            RestException restException = RestException.fromJson(response.getStream(), client.getObjectMapper());
            if (restException == null) {
                throw new ApiException("Server Error, no content");
            }
            throw new ApiException(restException);
        }

        return ConfigurationItem.fromJson(response.getStream(), client.getObjectMapper());
    }
    private void addPostParams(final Request request) {
        if (serviceName != null) {
            request.addPostParam("serviceName", serviceName);
    
        }
        if (codeLength != null) {
            request.addPostParam("codeLength", codeLength.toString());
    
        }
        if (allowCustomCode != null) {
            request.addPostParam("allowCustomCode", allowCustomCode.toString());
    
        }
        if (usedForDigitalPayment != null) {
            request.addPostParam("usedForDigitalPayment", usedForDigitalPayment.toString());
    
        }
        if (defaultExpiryTime != null) {
            request.addPostParam("defaultExpiryTime", defaultExpiryTime.toString());
    
        }
        if (defaultMaxTrials != null) {
            request.addPostParam("defaultMaxTrials", defaultMaxTrials.toString());
    
        }
        if (defaultMaxControls != null) {
            request.addPostParam("defaultMaxControls", defaultMaxControls.toString());
    
        }
        if (smtpSettingId != null) {
            request.addPostParam("smtpSettingId", smtpSettingId);
    
        }
        if (emailTemplateId != null) {
            request.addPostParam("emailTemplateId", emailTemplateId);
    
        }
        if (smsTemplateId != null) {
            request.addPostParam("smsTemplateId", smsTemplateId);
    
        }
    }
}
